{% extends 'home/index.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% block content %}
    <h3>{{ special }}</h3>
    <div class="block" style=" padding-right: 20%; padding-left: 20px; padding-top : 20px">
        <ul class="nav nav-tabs">
            <li class="active"><a class="nav-link active" data-toggle="pill" href="#papers">Paper</a></li>
            <li><a class="nav-link" data-toggle="pill" href="#users">Users</a></li>
        </ul>
        <div class="tab-content" style="padding-top: 20px;">
            <div id="papers" class="tab-pane fade show active" role="tabpanel">
                <div class="list-group">
                </div>
            </div>
            <div id="users" class="tab-pane fade" role="tabpanel">
                <div class="list-group">
                    
                </div>
            </div>
        </div>
    
{% endblock content %}


